# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VR Wuhu Island.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Austin\Documents\VR Wuhu Island\.idea\.idea.VR Wuhu Island\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
